@import 'meyer_reset.scss';
:root{
    --font-light: "Roboto Light", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-bold: "Roboto Bold", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-color: black;
    --main-color: black;
    --main-light-color: white;
}

@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/static/RobotoMono-Bold.ttf");
}
@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/static/RobotoMono-Light.ttf");
}
h1,h2,h3,h4,h5,h6{
    font-family: "Roboto Bold";
}
p,a,article{
    font-family: "Roboto Light";
}
.container{
    max-width: 1280px;
    padding: 0 32px;
    width: 100%;
    margin: 0 auto;
}
@import 'header.scss';
@import 'footer.scss';
@import 'index.scss';